@font-face {
  font-family: h2 ;
  src: url(fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}
@font-face {
  font-family: h1;
  src: url(fonts/HelloKetta-d99oX.ttf);
}
@font-face {
  font-family: h3 ;
  src: url(fonts/MotleyForcesRegular-w1rZ3.ttf);
}
@font-face {
  font-family: h4;
  src: url(fonts/ShiftyNotesRegular-BWZ6d.ttf);
}
@font-face {
  font-family: h5;
  src: url(fonts/SweetGetawayDemoRegular-2XyK.ttf);
}
* {

  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'h3';
}
html, body {
  height:100%;
  width:100%
}