* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html, body {
  height:100%;
  width:100%;
  background-color: #F0F3F5;
}
header{
  background-color: white;
  height: 3vw;
  width: 100%;
  padding: 1vw 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: .5px .5px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
header .left img{
  height: 2vw;
}
header .right{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
  color: black;
  height: 3vw;
  /* background-color: red; */

  a{
    padding-top: 10px;
    /* background-color: red; */
    height: 3vw;
    text-decoration: none;
    color: inherit;

    &:hover{
      border-bottom: 2px solid;
      color:rgb(84, 84, 84)
    }
  }
}
footer{
  padding-top:1.3vw;
  display: flex;
  align-items: flex-start;
  background-color: #374151;
  height: 15vw;
  width: 100%;
  justify-content: space-around;
  color:white;

}

